@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:"DM Sans";
    text-decoration: none;
}

.hostinger-logo {
    width: 187px;
    height: 88px;
    padding: 29px 0px 29px 40px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    box-shadow: 0px 1px 3px -2px #1D1E20;
    position: fixed;
    background-color: white;
    width: 100%;

}

.content-header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}

.nav-header{
    display: flex;
    gap: 36px;
    align-items: center;
}

.nav-buttons{
    text-decoration: none;
    color: #1D1E20;
    align-items: center;
}

.bi-caret-down{
    font-size: 12px;
}



.content-header-rigth{
    height: 48px;
    width: 230px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: #1D1E20;
    margin-right: 20px;
    gap: 20px;
    
}




.button-session-container{
    width: 100px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #1D1E20;
    border-radius: 10px;
    
}

.button{
    color: #1D1E20;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.hamb-menu-480_1024{
    display: none;
}

.hero-container{
    width: 1128px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0px 96px;
    margin-top: 88px;

}

.container-left{
    display: flex;
    flex-direction: column;
    height: 457px;
    width: 442px;
}

.hero{
    display: flex;
    justify-content: center;
}

.hero-image{
    height: 403px;
    width: 616px;
}

.hero-sale{
    display: flex;
    flex-direction: column;
    width: 456px;
    
    
}

.info__sale{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 2px;
    gap: 8px;
    color: #2f1c6a;
    
}

.special-padding{
    margin: 0px 0px 24px;
}

h1{
    font-size: 36px;
    color: #2f1c6a;
}

.hostinger-sale__hero{
    font-size: 20px;
    margin: 8px 0px 20px;
    color: #2f1c6a;
    font-weight: bold;
}

.special-text-sale{
    color: #673de6;
    font-weight: bold;
}

.bi-check-lg{
    color: #00b090;
    height: 24px;
    width: 24px;
}

.bi-question-circle{
    width: 16px;
    height: 16px;
}

.price-hero-container{
    font-size: 48px;
    font-weight: bold;
    color: #2f1c6a;
}

.special-price{
    font-size: 20px;
    font-weight: 300;
    
}

.price-hero{
    font-weight: bold;
    font-size: 20px;
    color: #2f1c6a;
}

.hero-guaranty{
    font-size: 16px;
    color: #2f1c6a;
    
}

.be-shield-check{
    height: 16px;
    width: 16px;
    margin: 0px 4px 0px 0px;
}

.primary-container{
    text-decoration: none;
}

.primary{
    height: 48px;
    width: 191px;
    background-color:#673de6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
    
    
}

.hero-buttons-container{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.timer{
    width: 168px;
    height: 48px;
    background-color: #e2dbfc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}


.section-migration{
    background-color: #1f1346;
    height: 680px;
    color: white;
    padding: 80px 0px;
}

.title-container{
    padding: 0px 68px 48px;
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.migration-title{
    font-size: 36px;
}

.migration-description{
    font-size: 16px;
    margin: 24px 0px 0px;
    text-align: center;
}

.cards-description-container{
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    
}

.card-description{
    height: 256px;
    width: 360px;
    background-color: #2f1c6a;
    border-radius: 20px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-card{
    font-size: 18px;
}

.content-card{
    font-size: 16px;
}

.icon-cards{
    height: 40px;
    width: 40px;
    background-color: #673de6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.button-migration-container{
    display: flex;
    justify-content: center;
    margin: 32px 0px 0px;
}

.button-migration{
    color: white;
    text-decoration: none;
    background-color: #673de6;
    height: 48px;
    width: 169px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

footer{
    padding: 0px 40px;
    margin: 0px 68.5px;
    font-family: "DM Sans";
    color: #2f1c6a;
    text-decoration: none;
    font-size: 14px;
}

.section-footer{
    margin: 0px 0px 24px;
    margin-top: 10px;
}

.footer-logo-container{
    height: 30px;
    width: 147px;
    display: flex;
}

.social-icon-footer{
    display: flex;
    gap: 16px;
    
}


.payment-logos{
    height: 40px;
    width: 60px;
}


.payment-section{
    display: flex;
    flex-direction: row;
}

.payment-more{
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: #673de6;
    font-weight: bold;
}

.legal-section{
    display: flex;
    gap: 20px;
}

.legal-conditions{
    color: #2f1c6a;
}

.copyrigth-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    border-top: 1px solid rgba(128, 128, 128, 0.26) ;
}

.logos-footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    
}

.logos-footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}


@media  screen and (max-width: 480px) {

    .hostinger-logo{
        width: 167px;
        height: 62px;
        padding: 16px 0px 16px 20px;
    }

    .nav-buttons{
        display: none;
    }

    header{
        height: 62px;
        position: fixed;
        width: 100%;
    }

    .content-header-rigth{
        display: none;
        
    }

    .hamb-menu-480_1024{
        margin: 30px;
        display: flex;
        justify-content: space-between;
        
    }

    .bi-list{
        font-size: 24px;
    }

    .hero-container{
        width: 100% ;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        margin-top: 62px;
        padding: 0px 16px;
    }
    
    .container-left{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
        
    }

    .hero-sale{
        width: 100%;
    }

    h1{ 
        font-size: 24px;
    }

    .hostinger-sale__hero{
        font-size: 16px;
    }

    .price-hero-container{
        font-size: 36px;
    }

    .price-hero{
        font-size: 18px;
    }

    .hero-buttons-container{
        display: flex;
        flex-direction: column;
        
    }

    .hero-buttons{
        height: 44px;
        width: 100%;
        
        
    }

    .hero-guaranty{
        margin-top: 4px;
    }

    .hero-image{
        width: 100%;
        height: 290px;
    }

    .section-migration{
        width: 100%;
        height: auto;
        padding: 56px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .migration-title{
        font-size: 24px;
        text-align: center;
    }

    .title-container{
        height: auto;
        padding: 0px 16px;
        margin: 0px 0px 32px;
        display: flex;
        justify-content: center;
        
    }

    .cards-description-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 0;
        padding: 0;
    }


    .card-description{
        height: 232px;
        width: 288px;
        padding: 32px;
    }

    footer{
        margin: 0%;
        padding: 0%;
    }

    .logos-footer-top{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        gap: 20px;
        margin-bottom: -15px;
    }

        .social-icon-footer{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0px 0px 8px;
        
    }

    .social-icon{
        width: 32px;
        height: 32px;
    }




    .logos-footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        padding: 20px;
        gap: 30px;
    }

    .legal-section{
        max-width: 328px;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        justify-content: start;
        gap: 15px;
    }

    .legal-conditions{
        color: #2f1c6a;
    }

    .payment-section{
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
        gap: 8px;
    }

    .payment-more{
        font-size: 14px;
    }
    

    .copyrigth-section{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        align-items: start;
        padding: 24px 16px 16px;
        gap: 20px;
    }
}





@media screen and (min-width:481px) and (max-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .hostinger-logo{
        width: 167px;
        height: 62px;
        padding: 16px 0px 16px 20px;
    }

    .nav-buttons{
        display: none;
    }

    header{
        height: 62px;
        position: fixed;
    }

    .content-header-rigth{
        display: none;
        
    }

    .hamb-menu-480_1024{
        margin: 30px;
        display: flex;
        justify-content: space-between;
        
    }

    .bi-list{
        font-size: 24px;
    }

    .hero-container{
        width: 100% ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 62px;
        padding: 14px 0px 36px;
    }
    
    .container-left{
        display: flex;
        flex-direction: column;
        width: auto;
        
    }

    h1{ 
        font-size: 24px;
    }

    .hostinger-sale__hero{
        font-size: 16px;
    }

    .price-hero-container{
        font-size: 36px;
    }

    .price-hero{
        font-size: 18px;
    }

    .hero-buttons-container{
        display: flex;
        flex-direction: column;
        
    }

    .hero-buttons{
        height: 44px;
        width: 100%;
        
        
    }

    .hero-guaranty{
        margin-top: 4px;
    }

    .hero-image{
        width: 100%;
        height: 290px;
    }

    .section-migration{
        width: 100%;
        height: auto;
        padding: 56px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .migration-title{
        font-size: 24px;
        text-align: center;
    }

    .title-container{
        height: auto;
        padding: 0px 16px;
        margin: 0px 0px 32px;
        display: flex;
        justify-content: center;
        
    }

    .cards-description-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 0;
        padding: 0;
    }


    .card-description{
        height: 232px;
        width: 434px;
        padding: 32px;
    }

    footer{
    margin: 0%;
    padding: 0%;
    }

    .logos-footer-top{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        gap: 20px;
        margin-bottom: -15px;
        
    }

        .social-icon-footer{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0px 0px 8px;
        
    }

    .social-icon{
        width: 32px;
        height: 32px;
    }




    .logos-footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        padding: 20px;
        gap: 30px;
    }

    .legal-section{
        max-width: 328px;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        justify-content: start;
        gap: 15px;
    }

    .legal-conditions{
        color: #2f1c6a;
    }

    .payment-section{
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
        gap: 8px;
    }

    .payment-more{
        font-size: 14px;
    }
    

    .copyrigth-section{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        align-items: start;
        padding: 24px 16px 16px;
        gap: 20px;
    }
        
    
    
}

@media  screen and (min-width:769px) and (max-width:1024px) {
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .hostinger-logo{
        width: 167px;
        height: 62px;
        padding: 16px 0px 16px 20px;
    }

    .nav-buttons{
        display: none;
    }

    header{
        height: 62px;
        position: fixed;
    }

    .content-header-rigth{
        display: none;
        
    }
    

    .hamb-menu-480_1024{
        margin: 30px;
        display: flex;
        justify-content: space-between;
        
    }

    .bi-list{
        font-size: 24px;
    }

    

    .hero-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 62px 40px 80px;
        justify-content: center;
    }



    h1{
        font-size: 28px;
        
    }

    .hero-image{
        width: 100%;
        height: 450px;
    }

    .title-container{
        display: flex;
        margin: 0px 0.5px 40px;
        padding: 0px 40px;
    }

    .section-migration{
        height: auto;
    }
    
    .migration-title{
        font-size: 28px;
    }

    .cards-description-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0.5px;
        gap: 20px;
    }

    .card-description{
        height: 208px;
        width: 688px;
        padding: 32px;
    }

    footer{
        margin: 0.5px;
        font-size: 14px;

    }

    .logos-footer-top{
        width: 100%;
        padding: 20px 0px;

    }

    .logos-footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        gap: 16px;
    }

    .copyrigth-section{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
    }
    }

    @media screen and (min-width:1025px) and (max-width:1200px){
         *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .hostinger-logo{
        width: 167px;
        height: 62px;
        padding: 16px 0px 16px 20px;
    }

    .nav-buttons{
        display: none;
    }

    header{
        height: 62px;
        position: fixed;
    }

    .content-header-rigth{
        display: none;
        
    }

    .hamb-menu-480_1024{
        margin: 30px;
        display: flex;
        justify-content: space-between;
        
    }

    .bi-list{
        font-size: 24px;
    }

    .hero-container{
        width: 1025px;
        padding: 0px 40px;
        overflow: hidden;
        display: flex;
        
    }



    .section-migration{
        height: auto;
    }

    .title-container{
        margin: 0px 0px 48px;
        padding: 0px 40px;
    }

    .cards-description-container{
        margin: 0;

    }

    .card-description{
        height: 304px;
        width: 299px;
    }
    
    footer{
        margin: 0;
        font-size: 14px;
    }

    .logos-footer-top{
        padding: 20px 0px;
    }
    }

